<!-- CSS only -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
  crossorigin="anonymous"
  href="/public/css/form.css"
/>
<html>
  <body>
    <form method="post" action="/project/campaign/projects/create/<%= campaignId %>">
        <div class="card">
            <div class="container">
                <label>Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Project name"
                  name="projectName"
                />

              </div>
              <br />
              <div class="container">
                <label for="exampleFormControlTextarea1">Description</label>
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  name="projectDescription"
                ></textarea>
              </div>
              <br />
              <div class="container">
                <label for="exampleFormControlTextarea1">Deadline</label>
                <input
                  type="date"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="Funds"
                  name="projectDeadline"
                />
                <br />
                <div class="container">
                    <label >Funds</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Project name" name="fundsDisbursed">
                  </div>
              </div>
              <br />
              <button class="btn btn-light" type="submit">Create Project</button>
        </div>
      
    </form>
  </body>
</html>